# Section 3 - Tidy Data and Combining Tables

## Motivation

Get tidy data (i.e. data in standard representation) for good and easier analysis and visulization.

Concatenate tables with same format or merge tables with common tables for analysis and visulization

In [1]:
library(data.table)
library(tidyr)          # package for tidying data

In [2]:
# prepare some tables
file_path <- file.path("/Users", "donatabuozyte", "Downloads", "extdata")

election_results <- fread(file.path(file_path, "US-pres16results.csv"), 
                            na.strings=c("NULL", "NA"), encoding = "UTF-8", sep = ",")
election_results <- election_results[is.na(county) & st != "US", .(cand, st, votes, total_votes)]

setnames(election_results, "cand", "candidate")
setnames(election_results, "st", "state")

table1 <- fread(file.path(file_path, "table1_alternate.csv"),
                  na.strings=c("NULL", "NA"), encoding = "UTF-8", sep = ",") 

table2 <- fread(file.path(file_path, "table2_alternate.csv"), 
                  na.strings=c("NULL", "NA"), encoding = "UTF-8", sep = ",") 

table3 <- fread(file.path(file_path, "table3_alternate.csv"), 
                  na.strings=c("NULL", "NA"), encoding = "UTF-8", sep = ",")

table4 <- fread(file.path(file_path, "table4_alternate.csv"), 
                  na.strings=c("NULL", "NA"), encoding = "UTF-8", sep = ",") 

table5 <- fread(file.path(file_path, "table5_alternate.csv"), 
                  na.strings=c("NULL", "NA"), encoding = "UTF-8", sep = ",") 
                  
survey <- fread(file.path(file_path, "kaggle-survey-2017", "multipleChoiceResponses.csv"))

Warning message in fread(file.path(file_path, "US-pres16results.csv"), na.strings = c("NULL", :
“Discarded single-line footer: <<"Menard County","48327","Jill Stein","TX",1,1,8>>”

In [3]:
# --------------------

## Tidy and Untidy Data

### 1. Definition of Tidy Data

1. each *variable* has its own *column*.
2. each *observation* has its own *row*.
3. each *value* has its own *cell*.

In [4]:
# examples for a tidy dataset
head(election_results)

  candidate       state votes   total_votes
1 Hillary Clinton CA    5931283 9631972
2 Donald Trump    CA    3184721 9631972
3 Gary Johnson    CA     308392 9631972
4 Jill Stein      CA     166311 9631972
5 Gloria La Riva  CA      41265 9631972
6 Donald Trump    FL    4605515 9386750

### 2. Advantages of Tidy Data

Reduce burden to frequently reorganize data, in particular:
    1. easier manipulation (via `data.table` commands).
    2. vectorizes opersations easier to use.
    3. other tools (like plotting or modeling functions) work better.

### 3. Common Signs of Untidy Datasets

1. column headers are values (not variable names).
2. multiple variables in column.
3. variables stored on columns **and** rows.
4. single observational unit stored in multiple tables.
5. multiple types of observational units stored in same table (see last section).

In [5]:
# --------------------

## Tidying Up Datasets

### 1. Melting (Wide to Long)

Common operation: transform wide table to long table (*Melting*).

Useful if: column headers are values (not variable names).

For more info: `?melt`

In [6]:
# example: column names for US states are values of variable `state`
table4

melt(table4,
     id.vars = "candidate", 
     measure.vars = c("CA", "FL"),     # gather all values in these columns ...
     value.name = "votes",             # ... into this column
     variable.name = "state")          # create new column storing all values previously contained in column names
                                       # (i.e. in measure.vars)

  candidate       CA      FL
1 Hillary Clinton 5931283 4485745
2 Donald Trump    3184721 4605515
3 Gary Johnson     308392  206007
4 Jill Stein       166311   64019

  candidate       state votes
1 Hillary Clinton CA    5931283
2 Donald Trump    CA    3184721
3 Gary Johnson    CA     308392
4 Jill Stein      CA     166311
5 Hillary Clinton FL    4485745
6 Donald Trump    FL    4605515
7 Gary Johnson    FL     206007
8 Jill Stein      FL      64019

### 2. Casting (Long to Wide)

Common operation: transform long table to wide table (*Casting*).

Useful if: multiple variables stored in one column.

Format of `dcast`: `dcast(data, formula, value.var = guess(data))`, for more info: `?dcast`

In [7]:
# example: column `value` contains `votes` and `total_votes`
table2

dcast(table2,
      ... ~ type,              # "create new columns containg the values of this column",
                               #     other columns are arranged accordingly
      value.var = "value")     # extract values from this column

  candidate       state type        value
1 Hillary Clinton CA    votes       5931283
2 Hillary Clinton CA    total_votes 9631972
3 Donald Trump    CA    votes       3184721
4 Donald Trump    CA    total_votes 9631972
5 Gary Johnson    CA    votes        308392
6 Gary Johnson    CA    total_votes 9631972

  candidate       state total_votes votes
1 Donald Trump    CA    9631972     3184721
2 Gary Johnson    CA    9631972      308392
3 Hillary Clinton CA    9631972     5931283

### 3. Separating Columns

Spread values/information in one column across multiple columns.

Hint: separation by non-alphanumerical characters by default.

In [8]:
# example: `proportion` column should be divided into `votes` and `total_votes` (more useful!)
table3

separate(table3,
         col = proportion,
         into = c("votes", "total_votes"))     # default separator: anything non-alphanumerical

  candidate       state proportion
1 Hillary Clinton CA    5931283/9631972
2 Donald Trump    CA    3184721/9631972
3 Gary Johnson    CA    308392/9631972

  candidate       state votes   total_votes
1 Hillary Clinton CA    5931283 9631972
2 Donald Trump    CA    3184721 9631972
3 Gary Johnson    CA    308392  9631972

### 4. Uniting Columns

Unite multiple columns with values, which should be together (like the first and last name), into one column.

In [9]:
# example: first and last name are separated
table5
unite(table5,
      col = candidate,     # this column shoul contain the values of ...
      name,                # ... this column ...
      surname,             # ... and this column ...
      sep = " ")           # ... with this separator between the combined values

  name    surname state votes   total_votes
1 Hillary Clinton CA    5931283 9631972
2 Donald  Trump   CA    3184721 9631972
3 Gary    Johnson CA     308392 9631972
4 Jill    Stein   CA     166311 9631972
5 Gloria  La Riva CA      41265 9631972

  candidate       state votes   total_votes
1 Hillary Clinton CA    5931283 9631972
2 Donald Trump    CA    3184721 9631972
3 Gary Johnson    CA     308392 9631972
4 Jill Stein      CA     166311 9631972
5 Gloria La Riva  CA      41265 9631972

### 5. Advanced: Columns Containing Sets of Values

Sets of values are contained in one column, i.e. a string containing multpile informations from a survey.

In [10]:
# example: answers of survey are contained in one string instead of multiple columns
survey[, .(LanguageRecommendationSelect, LearningPlatformSelect, PastJobTitlesSelect)] %>% head()

  LanguageRecommendationSelect
1 F#
2 Python
3 R
4 Python
5 Python
6 Python
  LearningPlatformSelect
1 College/University,Conferences,Podcasts,Trade book
2 Kaggle
3 Arxiv,College/University,Kaggle,Online courses,YouTube Videos
4 Blogs,College/University,Conferences,Friends network,Official documentation,Online courses,Personal Projects
5 Arxiv,Conferences,Kaggle,Textbook
6 Kaggle,Online courses,Stack Overflow Q&A,Textbook
  PastJobTitlesSelect
1 Predictive Modeler,Programmer,Researcher
2 Software Developer/Software Engineer
3 Data Scientist,Machine Learning Engineer
4 Business Analyst,Operations Research Practitioner,Predictive Modeler,Programmer,Other
5 Computer Scientist,Data Analyst,Data Miner,Data Scientist,Engineer,Machine Learning Engineer,Predictive Modeler,Programmer,Researcher,Software Developer/Software Engineer
6 Data Analyst,Engineer,Researcher,Other

In [11]:
# example of how this data can be transformed into a tidy format
survey_split <- survey[,tstrsplit(LearningPlatformSelect, ',')]
survey_split[, individual := 1:nrow(survey)]
LearningPlatformMelt <- melt(survey_split, 
                             id.vars = 'individual',
                             na.rm = TRUE)[, variable := NULL]

LearningPlatformMelt[order(individual)] %>% head(n=5)

  individual value
1 1          College/University
2 1          Conferences
3 1          Podcasts
4 1          Trade book
5 2          Kaggle

In [12]:
# --------------------

## Concatenating Tables

Concatenate tables with the same format, useful if for example new data (either in table or list format) is generated each day and should be combined to analyse multiple days.

In [13]:
# example: new data is generated daily and should be combine to one data frame
# first step: load all tables

# produce character vector of filenames/directories in given path/directory
files <- list.files(file.path(file_path, "cov_concatenate"), full.names = TRUE)

names(files) <- basename(files)     # name list elements by filenames
tables <- lapply(files, fread)      # load all files as `data.table`s
head(tables, 3)

$covid_cases_01_03_2020.csv
   cases deaths countriesAndTerritories geoId countryterritoryCode popData2019
1:    54      0                 Germany    DE                  DEU    83019213
2:   240      8                   Italy    IT                  ITA    60359546
   continentExp Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
1:       Europe                                                  0.1156359
2:       Europe                                                  1.8638311

$covid_cases_02_03_2020.csv
   cases deaths countriesAndTerritories geoId countryterritoryCode popData2019
1:    18      0                 Germany    DE                  DEU    83019213
2:   561      6                   Italy    IT                  ITA    60359546
   continentExp Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
1:       Europe                                                  0.1373176
2:       Europe                                                  2.7932616

$covid_cases_03_03_2020.csv
   cases deaths countriesAndTerritories geoId countryterritoryCode popData2019
1:    28      0                 Germany    DE                  DEU    83019213
2:   347     17                   Italy    IT                  ITA    60359546
   continentExp Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
1:       Europe                                                  0.1710447
2:       Europe                                                  3.3681499

In [14]:
# second step: combine all tables and add according filename to each row (i.e. from which file the table is)
#               to avoind loosing any information
dt <- rbindlist(tables, idcol = 'filepath')
head(dt)

  filepath                   cases deaths countriesAndTerritories geoId
1 covid_cases_01_03_2020.csv  54    0     Germany                 DE
2 covid_cases_01_03_2020.csv 240    8     Italy                   IT
3 covid_cases_02_03_2020.csv  18    0     Germany                 DE
4 covid_cases_02_03_2020.csv 561    6     Italy                   IT
5 covid_cases_03_03_2020.csv  28    0     Germany                 DE
6 covid_cases_03_03_2020.csv 347   17     Italy                   IT
  countryterritoryCode popData2019 continentExp
1 DEU                  83019213    Europe
2 ITA                  60359546    Europe
3 DEU                  83019213    Europe
4 ITA                  60359546    Europe
5 DEU                  83019213    Europe
6 ITA                  60359546    Europe
  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
1 0.1156359
2 1.8638311
3 0.1373176
4 2.7932616
5 0.1710447
6 3.3681499

In [15]:
# --------------------

## Merging Tables

Similar to merging in `SQL`. Four different types of merges: Inner (default), Outer (`all`), Left (`all.x`), Right (`all.y`).

Core signature:
```{R}
merge(
  x, y,                                                                         # tables to merge
  by = {colname in x and y}, by.x = {colname in x}, by.y = {colname in y},      # by which columns
  all = {bool}, all.x = {bool}, all.y = {bool}                                  # types of merge
)
```

In [16]:
# examples for each type of merge in the following subsubsections
dt1 <- data.table(p_id = c("G008", "F027", "L051"), value = rnorm(3))
dt2 <- data.table(p_id = c("G008", "F027", "U093"), country = c("Germany", "France", "USA"))

dt1
dt2

  p_id value
1 G008 -0.05456035
2 F027  1.44897955
3 L051  0.41691232

  p_id country
1 G008 Germany
2 F027 France
3 U093 USA

### 1. Inner Merge

Only add rows with matching values in `by` column, discard the others.

In [17]:
merge(dt1, dt2, by = "p_id", all = FALSE)

merge(dt1, dt2, by = "p_id", all = FALSE, sort = FALSE)     # use this to avoid reordering

  p_id value       country
1 F027  1.44897955 France
2 G008 -0.05456035 Germany

  p_id value       country
1 G008 -0.05456035 Germany
2 F027  1.44897955 France

### 2. Outer Merge

Return all columns from both tables, fill out missing values with `NA`.

In [18]:
merge(dt1, dt2, by = "p_id", all = TRUE)

  p_id value       country
1 F027  1.44897955 France
2 G008 -0.05456035 Germany
3 L051  0.41691232 NA
4 U093          NA USA

### 3. Left Merge

Return all columns from `x`, fill out rows with no matches in `y` with `NA`.

In [19]:
merge(dt1, dt2, by = "p_id", all.x = TRUE)

  p_id value       country
1 F027  1.44897955 France
2 G008 -0.05456035 Germany
3 L051  0.41691232 NA

### 4. Right Merge

Return all columns from `y`, fill out rows with no matches in `x` with `NA`.

In [20]:
merge(dt1, dt2, by = "p_id", all.y = TRUE)

  p_id value       country
1 F027  1.44897955 France
2 G008 -0.05456035 Germany
3 U093          NA USA

### 5. Merging by Several Columns

Instead of just merging based on one column, multiple columns can be used.

Useful if: multiple conditions have to be fulfilled to assign new values to obervation.

In [21]:
# example
dt3 <- data.table(firstname = c("Alice", "Alice", "Bob"), lastname = c("Coop", "Smith", "Smith"), x=1:3)
dt4 <- data.table(firstname = c("Alice", "Bob", "Bob"), lastname = c("Coop", "Marley", "Smith"), y=LETTERS[1:3])

dt3
dt4

merge(dt3, dt4, by=c("firstname", "lastname"))

  firstname lastname x
1 Alice     Coop     1
2 Alice     Smith    2
3 Bob       Smith    3

  firstname lastname y
1 Alice     Coop     A
2 Bob       Marley   B
3 Bob       Smith    C

  firstname lastname x y
1 Alice     Coop     1 A
2 Bob       Smith    3 C

In [22]:
# --------------------

## Tidy Representations Are Not Unique

### 1. Alternative tidy form of a table

One table can have multiple tidy forms. Hence the chosen tidy should be carefully picked based on the further operations (i.e. one form may be better for plotting certain relationships between columns, while another form is better for computing means, etc.).

### 2. About Multiple Types of Observational Units in the Same Table

While a table can be considered to be tidy, the columns it contains may be more useful if the table is split into multiple "sub-tables", for example because it contains repetitive data (e.g. due to a merge).

Separated representation where each table has unique entrie is a normalized representation. Due to storage and redundancy, normalized representations should be used.

Which representation is used often depends on the context. The normalized representation is better in the back-en context, while the normal representation might be better in the front-end context.

In [23]:
# --------------------

##### End of Section 3!